@charset "utf-8";

@media screen and (min-height:801px) and (max-height:900px){

    /* 프로필 */
    #profile{
        padding-bottom: 240px;
    }
    .wrap{
        transform: translateY(100px);
    }
    .p_title > .big{font-size: 10rem;}
    svg{transform: translate(100px,-280px);}
    .p_left > a{transform: translateY(-300px);}

    /* 앱퍼블리싱 */
    .a_wrap{
        transform: translateY(-320px);
    }
    .app img{
        height: 880px;
    }

    /* 웹퍼블리싱 */
    #web{
        transform: translateY(-220px);
        padding-bottom: 0;
    }
    #tab_con ul .con{height: 540px;}
    .c01, .c02, .c03{padding: 50px 20px;}
    .c04{padding: 50px 60px;}

    /* 디자인 */
    #design{
        transform: translateY(-200px);
        width: 100%;
    }
    #design > ul > li{
        height: 180px;
     }
    #design > ul > li:nth-child(14){
         height:360px;
     }
     #design > ul > li:nth-child(15), #design > ul > li:last-child{
         transform: translateY(-180px);
     }
    /* 이메일 */
    #contact{
        transform: translateY(-200px);
        padding-bottom: 50px;
    }
    #contact .p_btn{
        font-size: 34px;
        transform: translate(500px,-250px);
      }
    /* 에필로그 */
    .last_bg .b_img{top: -760px;}
    .last_bg p{
        font-size: 24px;
        transform: translateY(50px);
    }
    .last_bg a{bottom: -10px;}
}