@charset "utf-8";

@media screen and (max-height:800px){

    /* 프로필 */
    #profile{
        padding-bottom: 80px;
    }
    .wrap{
        transform: translateY(20px);
    }
    .p_left{transform: translateY(10px);}
    .p_title > .big{font-size: 10rem;}
    svg{transform: translate(100px,-350px);}
    .p_left > a{transform: translateY(-380px);}

    /* 앱퍼블리싱 */
    .a_wrap{
        transform: translateY(-450px);
    }
    .app img{
        height: 780px;
    }
    
    /* 웹퍼블리싱 */
    #web{
        transform: translateY(-380px);
        padding-bottom: 0;
    }
    #tab_con ul .con{height: 540px;}
    .c01, .c02{padding: 50px 20px;}
    
    /* 디자인 */
    #design{
        transform: translateY(-360px);
    }
    /* 이메일 */
    #contact{
        transform: translateY(-300px);
        padding-bottom: 0;
    }
    /* 에필로그 */
    .last_bg .b_img{top: -760px;}
    .last_bg p{
        font-size: 24px;
        transform: translateY(100px);
    }
}